<h1>The User Interface Developer Test</h1>

<div class="well">
  <p>In this test you will add a select-all toggle for the checkbox list.</p>
  <p>It should be checked if all fields are checked, unchecked if all fields are unchecked and indeterminate if some are checked.</p>
  <p>When submitting the form, if only Language is checked, then an error should appear stating &quot; Please choose more items! &quot;</p>
  <p>Successfully submitting the form takes us to results.html</p>
  <p>Maybe the page can look a little better? What else can you fix?</p>
</div>

<form role="form">
  <div class="alert alert-danger" ng-show="showError">Please choose more items!</div>
  
  <div class="form-group">
    <label class="checkbox" ng-click="bulkSelect()">
      <input id="select-all" type="checkbox" ng-model="selectAll">Select All
    </label>
  </div>
  
  <div class="form-group">
    <label class="checkbox" ng-repeat="checkbox in checkboxes">
      <input type="checkbox" name="fields" value="{{checkbox}}" ng-model="selected[checkbox]" ng-change="updateSelectAll()">{{checkbox}}
    </label>
  </div>
  
  <button ng-click="submit()" class="btn btn-primary">Submit</button>
</form>
